<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>
<main>
    <div class="jumbotron">
        <h1>Статистика</h1>
        
        <p>Всего продано: <%= nftsNumber %> нфт</p>
        <p>Всего владельцев: <%= Object.keys(owners).length %></p>
        <p>Пользователи бота: <%= usersInBot %></p>

        <b>Список учасников и количества НФТ на их кошельках</b>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"><strong>Адресса кошелька</strong></td>
                <th scope="col">Количество нфт</td>
            </tr>
            </thead>
            <tbody>
            <% for (let key in owners){ %>
                <tr>
                    <td><strong><%= key %></strong></td>
                    <td><%= owners[key] %> нфт</td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>