<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>
            Админка бота
            <button id="paymentButton" class="btn btn-primary .mr-0" onclick="sentTon()">Sent ton</button>
            <!--            <input class="form-control" type="number" min="0" placeholder="<%= +totalCost %>" id="inputTONS">-->

            <div class="input-group my-3">
                <input type="text" class="form-control" type="number" id="inputTONS"
                       placeholder="<%= +totalCost %> TON" aria-label="Recipient's username"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="inputButton" class="btn btn-primary" id onclick="setTon()">Сменить количество ton
                    </button>
                </div>

            </div>

            <div class="h4">Сейчас <%= +(totalCost/2)?.toFixed(3) %> количество TON с royalty </div>
        </h1>
        <span id="paymentMessage"></span>

        <% if(locals.owners){ %>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"><strong>Адресса кошелька</strong>
                    </td>
                    <th scope="col">Количество нфт
                    </td>
                    <th scope="col">%
                    </td>
                    <th scope="col">Количество Ton
                    </td>
                </tr>
                </thead>
                <tbody>
                <% for (let key in owners){ %>
                    <tr>
                        <td><strong class="address"><%= key %></strong></td>
                        <td><%= owners[key].number %> нфт</td>
                        <td><%= owners[key].inPersent %>%</td>
                        <td>
                            <div class="ton"><%= (((totalCost * owners[key].inPersent)/100)/2) %>
                                %>
                            </div>
                            ton
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        <% } else { %>
            <p>Error loading data. Try reloading the <a href="/">page</a></p>

        <% } %>
        <button id="inputButton" class="btn btn-danger" id onclick="exit()">Выйти</button>

    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script>

    const sentTon = async () => {
        const paymentButton = document.querySelector('#paymentButton')
        const paymentMessage = document.querySelector('#paymentMessage')

        paymentButton.setAttribute('disabled', 'disabled')
        paymentMessage.innerHTML = 'В течение нескольких минут - оплата будет произведена по всем кошелькам. Нужно немного подождать'

        await fetch('/api/sendTon', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        })
            .then((response) => response.json())
            .then((result) => {
                console.log(result);
                paymentButton.removeAttribute('disabled')
                paymentMessage.innerHTML = 'Оплата завершена'

                const failed = result.filter(el => !el.success).map(el => el.wallet)

                if (failed.length) {
                    paymentMessage.innerHTML += '. Неудачные попытки: ' + failed.join(', ')
                }
            });
    }
    const setTon = async () => {
        const TONS = document.querySelector('#inputTONS')
        const inputButton = document.querySelector('#inputButton')
        // paymentMessage.innerHTML = 'В течение нескольких минут - оплата будет произведена по всем кошелькам. Нужно немного подождать'
        if (!isNaN(+TONS.value)) {
            inputButton.setAttribute('disabled', 'disabled')
            await fetch('/api/setTONS', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({tons: TONS.value})
            })
                .then((response) => response.json())
                .then((result) => {
                    window.location.href = "/"
                });


        } else {
            inputButton.classList.toggle('btn-danger')
            inputButton.disabled = true;
            TONS.value = '';
            setTimeout(() => {
                inputButton.disabled = false;
                inputButton.classList.toggle('btn-danger')

            }, 3000)
        }
    }
    const exit = async () => {
        await fetch('/api/exit', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        })
            .then((response) => response.json())
            .then((result) => {
                window.location.href = "/"
            });
    }
</script>
</body>
</html>